@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/images/NewLogo.png" alt="Tracktion Logo" style="max-width: 400px; margin-bottom: 20px;" />
</div>
